django>=1.10
psycopg2>=2.6
selenium>=2.53
PyVirtualDisplay==0.2.1
djangorestframework==3.4.7
django-image-cropping>=1.0.3
easy_thumbnails>=2.3
django-mptt>=0.8.6
awesome-slugify==1.6.5
django-haystack==2.5.1
elasticsearch>=5.0.1
django-braces==1.10.0
django-parler>=1.7
django-parler-rest==1.4.2
django-rosetta>=0.7.12
celery==4.0.2
flower>=0.9.1
redis>=2.10.5


